.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0; /* remove padding to avoid square corners */
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* make sure image itself is circular */
    display: block;
}
